<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {{ encore_entry_link_tags('app') }}
        <title>{% block title %}{% endblock %} - My Webpage</title>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
    <div class=" general_title">
        <h1> ma super DB</h1>
    </div>
    <div class="choice">
        <div class="title_choice">
            <a href="{{ path("app_home") }}"> utilisateurs</a>
        </div>
        <div class="title_choice">
            <a href="{{ path("app_project") }}"> project</a>
        </div>
    </div>
    <div id="content">
        {% block person %}{% endblock %}
        {% block project %}{% endblock %}
    </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</html>